<div class="container mt-5">
    <div class="card-deck">
        <div class="card" *ngFor="let photo of photosList">
            <a [routerLink]="['/photo', photo.id]">
                <img src="{{photo.thumbnailUrl}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer border-0">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>